__pycache__/
*.pyc

.vscode
.DS_Store
.idea
.git
*.egg-info
*.ckpt

wandb
lightning_logs
cache
results
checkpoints
pretrained_models/
samples/
Dataset/
output/
outputs/
/data
data/t2i/domain/
data/t2v/domain/

HPSv2/
SwissArmyTransformer/

trainingdata
temp


*.outputs
.jolli/jollimemory
.jolli/jollimemory/debug.log
